.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.App div {
	width: 20%;
	margin: auto;
}

.App div div {
	width: 100%;
	color: white;
	font-weight: 400;
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: blue;
}

.container {
  width: 95%;
  margin: auto;
}

.itemCategory {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemCard {
  text-align: left;
	margin-top: 0.25em;
	padding: 0.5em;
	/* background-color: #f8f8f8; */
	background-color: white;
  border-radius: 12px;
}
